snippet h1 h1
	# $1
snippet h2 h2
	## $1
snippet h3 h3
	### $1
snippet h4 h4
	#### $1
snippet h5 h4
	##### $1
snippet h6 h4
	###### $1


snippet initmathjax initmathjax
	[![green-pi](https://img.shields.io/badge/Rendered%20with-Green%20Pi-00d571?style=flat-square)](https://github.com/nschloe/green-pi?activate)

snippet mathjax mathjax
	\\\({$1}\\\)$2

snippet center center
	<center>

	$1

	</center>

snippet sub sub
	$2<sub>$1</sub>$3

snippet sup sup
	$2<sup>$1</sup>$3

snippet \reducible ≤m
	≤<sub>p</sub>
snippet \pi π
	π
snippet \epsilon ε
	ε
snippet \neq ≠
	≠
snippet \plusmin ±
	±

snippet \Gamma Γ
	Γ

snippet \gamma γ
	γ

snippet \gradient ∇
	∇


snippet \copyright ©
	©
snippet \:copyright: ©
	©
snippet \neg ¬
	¬
snippet \degree °
	°
snippet \pm ±
	±
snippet \^2 ²
	²
snippet \^3 ³
	³
snippet \1/4 ¼
	¼
snippet \1/2 ½
	½
snippet \3/4 ¾
	¾
snippet \leftarrow ←
	←
snippet \uparrow ↑
	↑
snippet \to →
	→
snippet \rightarrow →
	→
snippet \downarrow ↓
	↓
snippet \leftrightarrow ↔
	↔
snippet \:left_right_arrow: ↔
	↔
snippet \updownarrow ↕
	↕
snippet \:arrow_up_down: ↕
	↕
snippet \nwarrow ↖
	↖
snippet \:arrow_upper_left: ↖
	↖
snippet \nearrow ↗
	↗
snippet \:arrow_upper_right: ↗
	↗
snippet \searrow ↘
	↘
snippet \:arrow_lower_right: ↘
	↘
snippet \swarrow ↙
	↙
snippet \:arrow_lower_left: ↙
	↙
snippet \nleftarrow ↚
	↚
snippet \nrightarrow ↛
	↛
snippet \leftwavearrow ↜
	↜
snippet \rightleftarrows ⇄
	⇄
snippet \dblarrowupdown ⇅
	⇅
snippet \leftrightarrows ⇆
	⇆
snippet \forall ∀
	∀
snippet \complement ∁
	∁
snippet \partial ∂
	∂
snippet \exists ∃
	∃
snippet \nexists ∄
	∄
snippet \varnothing ∅
	∅
snippet \emptyset ∅
	∅
snippet \increment ∆
	∆
snippet \del ∇
	∇
snippet \nabla ∇
	∇
snippet \in ∈
	∈
snippet \notin ∉
	∉
snippet \smallin ∊
	∊
snippet \ni ∋
	∋
snippet \nni ∌
	∌
snippet \smallni ∍
	∍
snippet \QED ∎
	∎
snippet \prod ∏
	∏
snippet \coprod ∐
	∐
snippet \sum ∑
	∑
snippet \minus −
	−
snippet \mp ∓
	∓
snippet \dotplus ∔
	∔
snippet \setminus ∖
	∖
snippet \ast ∗
	∗
snippet \circ ∘
	∘
snippet \vysmblkcircle ∙
	∙
snippet \surd √
	√
snippet \sqrt √
	√
snippet \cbrt ∛
	∛
snippet \fourthroot ∜
	∜
snippet \propto ∝
	∝
snippet \infty ∞
	∞
snippet \rightangle ∟
	∟
snippet \angle ∠
	∠
snippet \measuredangle ∡
	∡
snippet \sphericalangle ∢
	∢
snippet \mid ∣
	∣
snippet \nmid ∤
	∤
snippet \parallel ∥
	∥
snippet \nparallel ∦
	∦
snippet \wedge ∧
	∧
snippet \vee ∨
	∨
snippet \cap ∩
	∩
snippet \cup ∪
	∪
snippet \int ∫
	∫
snippet \iint ∬
	∬
snippet \iiint ∭
	∭
snippet \oint ∮
	∮
snippet \oiint ∯
	∯
snippet \oiiint ∰
	∰
snippet \clwintegral ∱
	∱
snippet \varointclockwise ∲
	∲
snippet \ointctrclockwise ∳
	∳
snippet \therefore ∴
	∴
snippet \because ∵
	∵
snippet \Colon ∷
	∷
snippet \dotminus ∸
	∸
snippet \dotsminusdots ∺
	∺
snippet \kernelcontraction ∻
	∻
snippet \sim ∼
	∼
snippet \backsim ∽
	∽
snippet \lazysinv ∾
	∾
snippet \sinewave ∿
	∿
snippet \wr ≀
	≀
snippet \nsim ≁
	≁
snippet \eqsim ≂
	≂
snippet \neqsim ≂̸
	≂̸
snippet \simeq ≃
	≃
snippet \nsime ≄
	≄
snippet \cong ≅
	≅
snippet \approxnotequal ≆
	≆
snippet \ncong ≇
	≇
snippet \approx ≈
	≈
snippet \napprox ≉
	≉
snippet \approxeq ≊
	≊
snippet \tildetrpl ≋
	≋
snippet \allequal ≌
	≌
snippet \asymp ≍
	≍
snippet \Bumpeq ≎
	≎
snippet \nBumpeq ≎̸
	≎̸
snippet \bumpeq ≏
	≏
snippet \nbumpeq ≏̸
	≏̸
snippet \doteq ≐
	≐
snippet \Doteq ≑
	≑
snippet \fallingdotseq ≒
	≒
snippet \risingdotseq ≓
	≓
snippet \coloneq ≔
	≔
snippet \eqcolon ≕
	≕
snippet \eqcirc ≖
	≖
snippet \circeq ≗
	≗
snippet \arceq ≘
	≘
snippet \wedgeq ≙
	≙
snippet \veeeq ≚
	≚
snippet \starequal ≛
	≛
snippet \triangleq ≜
	≜
snippet \eqdef ≝
	≝
snippet \measeq ≞
	≞
snippet \questeq ≟
	≟
snippet \ne ≠
	≠
snippet \equiv ≡
	≡
snippet \nequiv ≢
	≢
snippet \Equiv ≣
	≣
snippet \le ≤
	≤
snippet \leq ≤
	≤
snippet \ge ≥
	≥
snippet \geq ≥
	≥
snippet \leqq ≦
	≦
snippet \geqq ≧
	≧
snippet \lneqq ≨
	≨
snippet \lvertneqq ≨︀
	≨︀
snippet \gneqq ≩
	≩
snippet \gvertneqq ≩︀
	≩︀
snippet \ll ≪
	≪
snippet \NotLessLess ≪̸
	≪̸
snippet \gg ≫
	≫
snippet \NotGreaterGreater ≫̸
	≫̸
snippet \between ≬
	≬
snippet \nasymp ≭
	≭
snippet \nless ≮
	≮
snippet \ngtr ≯
	≯
snippet \nleq ≰
	≰
snippet \ngeq ≱
	≱
snippet \lesssim ≲
	≲
snippet \gtrsim ≳
	≳
snippet \nlesssim ≴
	≴
snippet \ngtrsim ≵
	≵
snippet \lessgtr ≶
	≶
snippet \gtrless ≷
	≷
snippet \notlessgreater ≸
	≸
snippet \notgreaterless ≹
	≹
snippet \prec ≺
	≺
snippet \succ ≻
	≻
snippet \preccurlyeq ≼
	≼
snippet \succcurlyeq ≽
	≽
snippet \precsim ≾
	≾
snippet \nprecsim ≾̸
	≾̸
snippet \succsim ≿
	≿
snippet \nsuccsim ≿̸
	≿̸
snippet \nprec ⊀
	⊀
snippet \nsucc ⊁
	⊁
snippet \subset ⊂
	⊂
snippet \supset ⊃
	⊃
snippet \nsubset ⊄
	⊄
snippet \nsupset ⊅
	⊅
snippet \subseteq ⊆
	⊆
snippet \supseteq ⊇
	⊇
snippet \nsubseteq ⊈
	⊈
snippet \nsupseteq ⊉
	⊉
snippet \subsetneq ⊊
	⊊
snippet \varsubsetneqq ⊊︀
	⊊︀
snippet \supsetneq ⊋
	⊋
snippet \varsupsetneq ⊋︀
	⊋︀
snippet \cupdot ⊍
	⊍
snippet \uplus ⊎
	⊎
snippet \sqsubset ⊏
	⊏
snippet \NotSquareSubset ⊏̸
	⊏̸
snippet \sqsupset ⊐
	⊐
snippet \NotSquareSuperset ⊐̸
	⊐̸
snippet \sqsubseteq ⊑
	⊑
snippet \sqsupseteq ⊒
	⊒
snippet \sqcap ⊓
	⊓
snippet \sqcup ⊔
	⊔
snippet \oplus ⊕
	⊕
snippet \ominus ⊖
	⊖
snippet \otimes ⊗
	⊗
snippet \oslash ⊘
	⊘
snippet \odot ⊙
	⊙
snippet \top ⊤
	⊤
snippet \bot ⊥
	⊥
snippet \models ⊧
	⊧
snippet \vDash ⊨
	⊨
snippet \Vdash ⊩
	⊩
snippet \Vvdash ⊪
	⊪
snippet \VDash ⊫
	⊫
snippet \nvdash ⊬
	⊬
snippet \nvDash ⊭
	⊭
snippet \nVdash ⊮
	⊮
snippet \nVDash ⊯
	⊯
snippet \prurel ⊰
	⊰
snippet \scurel ⊱
	⊱
snippet \vartriangleleft ⊲
	⊲
snippet \vartriangleright ⊳
	⊳
snippet \trianglelefteq ⊴
	⊴
snippet \trianglerighteq ⊵
	⊵
snippet \original ⊶
	⊶
snippet \image ⊷
	⊷
snippet \multimap ⊸
	⊸
snippet \hermitconjmatrix ⊹
	⊹
snippet \intercal ⊺
	⊺
snippet \veebar ⊻
	⊻
snippet \xor ⊻
	⊻
snippet \barwedge ⊼
	⊼
snippet \barvee ⊽
	⊽
snippet \rightanglearc ⊾
	⊾
snippet \varlrtriangle ⊿
	⊿
snippet \bigwedge ⋀
	⋀
snippet \bigvee ⋁
	⋁
snippet \bigcap ⋂
	⋂
snippet \bigcup ⋃
	⋃
snippet \diamond ⋄
	⋄
snippet \cdot ⋅
	⋅
snippet \star ⋆
	⋆
snippet \divideontimes ⋇
	⋇
snippet \bowtie ⋈
	⋈
snippet \ltimes ⋉
	⋉
snippet \rtimes ⋊
	⋊
snippet \leftthreetimes ⋋
	⋋
snippet \rightthreetimes ⋌
	⋌
snippet \backsimeq ⋍
	⋍
snippet \curlyvee ⋎
	⋎
snippet \curlywedge ⋏
	⋏
snippet \Subset ⋐
	⋐
snippet \Supset ⋑
	⋑
snippet \Cap ⋒
	⋒
snippet \Cup ⋓
	⋓
snippet \pitchfork ⋔
	⋔
snippet \equalparallel ⋕
	⋕
snippet \lessdot ⋖
	⋖
snippet \gtrdot ⋗
	⋗
snippet \verymuchless ⋘
	⋘
snippet \ggg ⋙
	⋙
snippet \lesseqgtr ⋚
	⋚
snippet \gtreqless ⋛
	⋛
snippet \eqless ⋜
	⋜
snippet \eqgtr ⋝
	⋝
snippet \curlyeqprec ⋞
	⋞
snippet \curlyeqsucc ⋟
	⋟
snippet \npreccurlyeq ⋠
	⋠
snippet \nsucccurlyeq ⋡
	⋡
snippet \nsqsubseteq ⋢
	⋢
snippet \nsqsupseteq ⋣
	⋣
snippet \sqsubsetneq ⋤
	⋤
snippet \sqspne ⋥
	⋥
snippet \lnsim ⋦
	⋦
snippet \gnsim ⋧
	⋧
snippet \precnsim ⋨
	⋨
snippet \succnsim ⋩
	⋩
snippet \ntriangleleft ⋪
	⋪
snippet \ntriangleright ⋫
	⋫
snippet \ntrianglelefteq ⋬
	⋬
snippet \ntrianglerighteq ⋭
	⋭
snippet \vdots ⋮
	⋮
snippet \cdots ⋯
	⋯
snippet \adots ⋰
	⋰
snippet \ddots ⋱
	⋱
snippet \disin ⋲
	⋲
snippet \varisins ⋳
	⋳
snippet \isins ⋴
	⋴
snippet \isindot ⋵
	⋵
snippet \varisinobar ⋶
	⋶
snippet \isinobar ⋷
	⋷
snippet \isinvb ⋸
	⋸
snippet \isinE ⋹
	⋹
snippet \nisd ⋺
	⋺
snippet \varnis ⋻
	⋻
snippet \nis ⋼
	⋼
snippet \varniobar ⋽
	⋽
snippet \niobar ⋾
	⋾
snippet \bagmember ⋿
	⋿
snippet \diameter ⌀
	⌀
snippet \house ⌂
	⌂
snippet \varbarwedge ⌅
	⌅
snippet \vardoublebarwedge ⌆
	⌆
snippet \lceil ⌈
	⌈
snippet \rceil ⌉
	⌉
snippet \lfloor ⌊
	⌊
snippet \rfloor ⌋
	⌋
snippet \invnot ⌐
	⌐
snippet \sqlozenge ⌑
	⌑
snippet \profline ⌒
	⌒
snippet \profsurf ⌓
	⌓
snippet \recorder ⌕
	⌕
snippet \viewdata ⌗
	⌗
snippet \turnednot ⌙
	⌙
snippet \:watch: ⌚
	⌚
snippet \:hourglass: ⌛
	⌛
snippet \:fast_forward: ⏩
	⏩
snippet \:rewind: ⏪
	⏪
snippet \:arrow_double_up: ⏫
	⏫
snippet \:arrow_double_down: ⏬
	⏬
snippet \:alarm_clock: ⏰
	⏰
snippet \:hourglass_flowing_sand: ⏳
	⏳
snippet \blanksymbol ␢
	␢
snippet \visiblespace ␣
	␣
snippet \:m: Ⓜ
	Ⓜ
snippet \circledS Ⓢ
	Ⓢ
snippet \dshfnc ┆
	┆
snippet \sqfnw ┙
	┙
snippet \diagup ╱
	╱
snippet \diagdown ╲
	╲
snippet \blockuphalf ▀
	▀
snippet \:umbrella: ☔
	☔
snippet \:coffee: ☕
	☕
snippet \:point_up: ☝
	☝
snippet \danger ☡
	☡
snippet \:relaxed: ☺
	☺
snippet \blacksmiley ☻
	☻
snippet \sun ☼
	☼
snippet \rightmoon ☽
	☽
snippet \leftmoon ☾
	☾
snippet \mercury ☿
	☿
snippet \venus ♀
	♀
snippet \female ♀
	♀
snippet \male ♂
	♂
snippet \mars ♂
	♂
snippet \jupiter ♃
	♃
snippet \saturn ♄
	♄
snippet \uranus ♅
	♅
snippet \neptune ♆
	♆
snippet \pluto ♇
	♇
snippet \aries ♈
	♈
snippet \:aries: ♈
	♈
snippet \taurus ♉
	♉
snippet \:taurus: ♉
	♉
snippet \gemini ♊
	♊
snippet \:gemini: ♊
	♊
snippet \cancer ♋
	♋
snippet \:cancer: ♋
	♋
snippet \leo ♌
	♌
snippet \:leo: ♌
	♌
snippet \virgo ♍
	♍
snippet \:virgo: ♍
	♍
snippet \libra ♎
	♎
snippet \:libra: ♎
	♎
snippet \scorpio ♏
	♏
snippet \:scorpius: ♏
	♏
snippet \sagittarius ♐
	♐
snippet \:sagittarius: ♐
	♐
snippet \capricornus ♑
	♑
snippet \:capricorn: ♑
	♑
snippet \aquarius ♒
	♒
snippet \:aquarius: ♒
	♒
snippet \pisces ♓
	♓
snippet \:pisces: ♓
	♓
snippet \spadesuit ♠
	♠
snippet \:spades: ♠
	♠
snippet \heartsuit ♡
	♡
snippet \diamondsuit ♢
	♢
snippet \clubsuit ♣
	♣
snippet \:clubs: ♣
	♣
snippet \varspadesuit ♤
	♤
snippet \varheartsuit ♥
	♥
snippet \:hearts: ♥
	♥
snippet \vardiamondsuit ♦
	♦
snippet \:diamonds: ♦
	♦
snippet \varclubsuit ♧
	♧
snippet \:hotsprings: ♨
	♨
snippet \quarternote ♩
	♩
snippet \eighthnote ♪
	♪
snippet \twonotes ♫
	♫
snippet \flat ♭
	♭
snippet \natural ♮
	♮
snippet \sharp ♯
	♯
snippet \:recycle: ♻
	♻
snippet \acidfree ♾
	♾
snippet \:wheelchair: ♿
	♿
snippet \dicei ⚀
	⚀
snippet \diceii ⚁
	⚁
snippet \diceiii ⚂
	⚂
snippet \diceiv ⚃
	⚃
snippet \dicev ⚄
	⚄
snippet \dicevi ⚅
	⚅
snippet \circledrightdot ⚆
	⚆
snippet \circledtwodots ⚇
	⚇
snippet \blackcircledrightdot ⚈
	⚈
snippet \blackcircledtwodots ⚉
	⚉
snippet \:anchor: ⚓
	⚓
snippet \:warning: ⚠
	⚠
snippet \:zap: ⚡
	⚡
snippet \hermaphrodite ⚥
	⚥
snippet \mdwhtcircle ⚪
	⚪
snippet \:white_circle: ⚪
	⚪
snippet \mdblkcircle ⚫
	⚫
snippet \:black_circle: ⚫
	⚫
snippet \mdsmwhtcircle ⚬
	⚬
snippet \neuter ⚲
	⚲
snippet \:soccer: ⚽
	⚽
snippet \:baseball: ⚾
	⚾
snippet \:snowman: ⛄
	⛄
snippet \:partly_sunny: ⛅
	⛅
snippet \:ophiuchus: ⛎
	⛎
snippet \:no_entry: ⛔
	⛔
snippet \:church: ⛪
	⛪
snippet \:fountain: ⛲
	⛲
snippet \:golf: ⛳
	⛳
snippet \:boat: ⛵
	⛵
snippet \:tent: ⛺
	⛺
snippet \:fuelpump: ⛽
	⛽
snippet \:scissors: ✂
	✂
snippet \:white_check_mark: ✅
	✅
snippet \:airplane: ✈
	✈
snippet \:email: ✉
	✉
snippet \:fist: ✊
	✊
snippet \:hand: ✋
	✋
snippet \:v: ✌
	✌
snippet \:pencil2: ✏
	✏
snippet \:black_nib: ✒
	✒
snippet \checkmark ✓
	✓
snippet \:heavy_check_mark: ✔
	✔
snippet \:heavy_multiplication_x: ✖
	✖
snippet \maltese ✠
	✠
snippet \:sparkles: ✨
	✨
snippet \circledstar ✪
	✪
snippet \:eight_spoked_asterisk: ✳
	✳
snippet \:eight_pointed_black_star: ✴
	✴
snippet \varstar ✶
	✶
snippet \dingasterisk ✽
	✽
snippet \:snowflake: ❄
	❄
snippet \:sparkle: ❇
	❇
snippet \:x: ❌
	❌
snippet \:negative_squared_cross_mark: ❎
	❎
snippet \:question: ❓
	❓
snippet \:grey_question: ❔
	❔
snippet \:grey_exclamation: ❕
	❕
snippet \:exclamation: ❗
	❗
snippet \:heart: ❤
	❤
snippet \:heavy_plus_sign: ➕
	➕
snippet \:heavy_minus_sign: ➖
	➖
snippet \:heavy_division_sign: ➗
	➗
snippet \draftingarrow ➛
	➛
snippet \:arrow_right: ➡
	➡
snippet \:curly_loop: ➰
	➰
snippet \:loop: ➿
	➿
snippet \medwhitestar ⭐
	⭐
snippet \:star: ⭐
	⭐
snippet \:o: ⭕
	⭕
snippet \:mahjong: 🀄
	🀄
snippet \:black_joker: 🃏
	🃏
snippet \:ab: 🆎
	🆎
snippet \:cl: 🆑
	🆑
snippet \:cool: 🆒
	🆒
snippet \:free: 🆓
	🆓
snippet \:id: 🆔
	🆔
snippet \:new: 🆕
	🆕
snippet \:ng: 🆖
	🆖
snippet \:ok: 🆗
	🆗
snippet \:sos: 🆘
	🆘
snippet \:up: 🆙
	🆙
snippet \:vs: 🆚
	🆚
snippet \:koko: 🈁
	🈁
snippet \:sa: 🈂
	🈂
snippet \:u7121: 🈚
	🈚
snippet \:u6307: 🈯
	🈯
snippet \:u7981: 🈲
	🈲
snippet \:u7a7a: 🈳
	🈳
snippet \:u5408: 🈴
	🈴
snippet \:u6e80: 🈵
	🈵
snippet \:u6709: 🈶
	🈶
snippet \:u6708: 🈷
	🈷
snippet \:u7533: 🈸
	🈸
snippet \:u5272: 🈹
	🈹
snippet \:u55b6: 🈺
	🈺
snippet \:ideograph_advantage: 🉐
	🉐
snippet \:accept: 🉑
	🉑
snippet \:cyclone: 🌀
	🌀
snippet \:foggy: 🌁
	🌁
snippet \:closed_umbrella: 🌂
	🌂
snippet \:night_with_stars: 🌃
	🌃
snippet \:sunrise_over_mountains: 🌄
	🌄
snippet \:sunrise: 🌅
	🌅
snippet \:city_sunset: 🌆
	🌆
snippet \:city_sunrise: 🌇
	🌇
snippet \:rainbow: 🌈
	🌈
snippet \:bridge_at_night: 🌉
	🌉
snippet \:ocean: 🌊
	🌊
snippet \:volcano: 🌋
	🌋
snippet \:milky_way: 🌌
	🌌
snippet \:earth_africa: 🌍
	🌍
snippet \:earth_americas: 🌎
	🌎
snippet \:earth_asia: 🌏
	🌏
snippet \:globe_with_meridians: 🌐
	🌐
snippet \:new_moon: 🌑
	🌑
snippet \:waxing_crescent_moon: 🌒
	🌒
snippet \:first_quarter_moon: 🌓
	🌓
snippet \:moon: 🌔
	🌔
snippet \:full_moon: 🌕
	🌕
snippet \:waning_gibbous_moon: 🌖
	🌖
snippet \:last_quarter_moon: 🌗
	🌗
snippet \:waning_crescent_moon: 🌘
	🌘
snippet \:crescent_moon: 🌙
	🌙
snippet \:new_moon_with_face: 🌚
	🌚
snippet \:first_quarter_moon_with_face: 🌛
	🌛
snippet \:last_quarter_moon_with_face: 🌜
	🌜
snippet \:full_moon_with_face: 🌝
	🌝
snippet \:sun_with_face: 🌞
	🌞
snippet \:star2: 🌟
	🌟
snippet \:stars: 🌠
	🌠
snippet \:chestnut: 🌰
	🌰
snippet \:seedling: 🌱
	🌱
snippet \:evergreen_tree: 🌲
	🌲
snippet \:deciduous_tree: 🌳
	🌳
snippet \:palm_tree: 🌴
	🌴
snippet \:cactus: 🌵
	🌵
snippet \:tulip: 🌷
	🌷
snippet \:cherry_blossom: 🌸
	🌸
snippet \:rose: 🌹
	🌹
snippet \:hibiscus: 🌺
	🌺
snippet \:sunflower: 🌻
	🌻
snippet \:blossom: 🌼
	🌼
snippet \:corn: 🌽
	🌽
snippet \:ear_of_rice: 🌾
	🌾
snippet \:herb: 🌿
	🌿
snippet \:four_leaf_clover: 🍀
	🍀
snippet \:maple_leaf: 🍁
	🍁
snippet \:fallen_leaf: 🍂
	🍂
snippet \:leaves: 🍃
	🍃
snippet \:mushroom: 🍄
	🍄
snippet \:tomato: 🍅
	🍅
snippet \:eggplant: 🍆
	🍆
snippet \:grapes: 🍇
	🍇
snippet \:melon: 🍈
	🍈
snippet \:watermelon: 🍉
	🍉
snippet \:tangerine: 🍊
	🍊
snippet \:lemon: 🍋
	🍋
snippet \:banana: 🍌
	🍌
snippet \:pineapple: 🍍
	🍍
snippet \:apple: 🍎
	🍎
snippet \:green_apple: 🍏
	🍏
snippet \:pear: 🍐
	🍐
snippet \:peach: 🍑
	🍑
snippet \:cherries: 🍒
	🍒
snippet \:strawberry: 🍓
	🍓
snippet \:hamburger: 🍔
	🍔
snippet \:pizza: 🍕
	🍕
snippet \:meat_on_bone: 🍖
	🍖
snippet \:poultry_leg: 🍗
	🍗
snippet \:rice_cracker: 🍘
	🍘
snippet \:rice_ball: 🍙
	🍙
snippet \:rice: 🍚
	🍚
snippet \:curry: 🍛
	🍛
snippet \:ramen: 🍜
	🍜
snippet \:spaghetti: 🍝
	🍝
snippet \:bread: 🍞
	🍞
snippet \:fries: 🍟
	🍟
snippet \:sweet_potato: 🍠
	🍠
snippet \:dango: 🍡
	🍡
snippet \:oden: 🍢
	🍢
snippet \:sushi: 🍣
	🍣
snippet \:fried_shrimp: 🍤
	🍤
snippet \:fish_cake: 🍥
	🍥
snippet \:icecream: 🍦
	🍦
snippet \:shaved_ice: 🍧
	🍧
snippet \:ice_cream: 🍨
	🍨
snippet \:doughnut: 🍩
	🍩
snippet \:cookie: 🍪
	🍪
snippet \:chocolate_bar: 🍫
	🍫
snippet \:candy: 🍬
	🍬
snippet \:lollipop: 🍭
	🍭
snippet \:custard: 🍮
	🍮
snippet \:honey_pot: 🍯
	🍯
snippet \:cake: 🍰
	🍰
snippet \:bento: 🍱
	🍱
snippet \:stew: 🍲
	🍲
snippet \:egg: 🍳
	🍳
snippet \:fork_and_knife: 🍴
	🍴
snippet \:tea: 🍵
	🍵
snippet \:sake: 🍶
	🍶
snippet \:wine_glass: 🍷
	🍷
snippet \:cocktail: 🍸
	🍸
snippet \:tropical_drink: 🍹
	🍹
snippet \:beer: 🍺
	🍺
snippet \:beers: 🍻
	🍻
snippet \:baby_bottle: 🍼
	🍼
snippet \:ribbon: 🎀
	🎀
snippet \:gift: 🎁
	🎁
snippet \:birthday: 🎂
	🎂
snippet \:jack_o_lantern: 🎃
	🎃
snippet \:christmas_tree: 🎄
	🎄
snippet \:santa: 🎅
	🎅
snippet \:fireworks: 🎆
	🎆
snippet \:sparkler: 🎇
	🎇
snippet \:balloon: 🎈
	🎈
snippet \:tada: 🎉
	🎉
snippet \:confetti_ball: 🎊
	🎊
snippet \:tanabata_tree: 🎋
	🎋
snippet \:crossed_flags: 🎌
	🎌
snippet \:bamboo: 🎍
	🎍
snippet \:dolls: 🎎
	🎎
snippet \:flags: 🎏
	🎏
snippet \:wind_chime: 🎐
	🎐
snippet \:rice_scene: 🎑
	🎑
snippet \:school_satchel: 🎒
	🎒
snippet \:mortar_board: 🎓
	🎓
snippet \:carousel_horse: 🎠
	🎠
snippet \:ferris_wheel: 🎡
	🎡
snippet \:roller_coaster: 🎢
	🎢
snippet \:fishing_pole_and_fish: 🎣
	🎣
snippet \:microphone: 🎤
	🎤
snippet \:movie_camera: 🎥
	🎥
snippet \:cinema: 🎦
	🎦
snippet \:headphones: 🎧
	🎧
snippet \:art: 🎨
	🎨
snippet \:tophat: 🎩
	🎩
snippet \:circus_tent: 🎪
	🎪
snippet \:ticket: 🎫
	🎫
snippet \:clapper: 🎬
	🎬
snippet \:performing_arts: 🎭
	🎭
snippet \:video_game: 🎮
	🎮
snippet \:dart: 🎯
	🎯
snippet \:slot_machine: 🎰
	🎰
snippet \:8ball: 🎱
	🎱
snippet \:game_die: 🎲
	🎲
snippet \:bowling: 🎳
	🎳
snippet \:flower_playing_cards: 🎴
	🎴
snippet \:musical_note: 🎵
	🎵
snippet \:notes: 🎶
	🎶
snippet \:saxophone: 🎷
	🎷
snippet \:guitar: 🎸
	🎸
snippet \:musical_keyboard: 🎹
	🎹
snippet \:trumpet: 🎺
	🎺
snippet \:violin: 🎻
	🎻
snippet \:musical_score: 🎼
	🎼
snippet \:running_shirt_with_sash: 🎽
	🎽
snippet \:tennis: 🎾
	🎾
snippet \:ski: 🎿
	🎿
snippet \:basketball: 🏀
	🏀
snippet \:checkered_flag: 🏁
	🏁
snippet \:snowboarder: 🏂
	🏂
snippet \:runner: 🏃
	🏃
snippet \:surfer: 🏄
	🏄
snippet \:trophy: 🏆
	🏆
snippet \:horse_racing: 🏇
	🏇
snippet \:football: 🏈
	🏈
snippet \:rugby_football: 🏉
	🏉
snippet \:swimmer: 🏊
	🏊
snippet \:house: 🏠
	🏠
snippet \:house_with_garden: 🏡
	🏡
snippet \:office: 🏢
	🏢
snippet \:post_office: 🏣
	🏣
snippet \:european_post_office: 🏤
	🏤
snippet \:hospital: 🏥
	🏥
snippet \:bank: 🏦
	🏦
snippet \:atm: 🏧
	🏧
snippet \:hotel: 🏨
	🏨
snippet \:love_hotel: 🏩
	🏩
snippet \:convenience_store: 🏪
	🏪
snippet \:school: 🏫
	🏫
snippet \:department_store: 🏬
	🏬
snippet \:factory: 🏭
	🏭
snippet \:izakaya_lantern: 🏮
	🏮
snippet \:japanese_castle: 🏯
	🏯
snippet \:european_castle: 🏰
	🏰
snippet \:rat: 🐀
	🐀
snippet \:mouse2: 🐁
	🐁
snippet \:ox: 🐂
	🐂
snippet \:water_buffalo: 🐃
	🐃
snippet \:cow2: 🐄
	🐄
snippet \:tiger2: 🐅
	🐅
snippet \:leopard: 🐆
	🐆
snippet \:rabbit2: 🐇
	🐇
snippet \:cat2: 🐈
	🐈
snippet \:dragon: 🐉
	🐉
snippet \:crocodile: 🐊
	🐊
snippet \:whale2: 🐋
	🐋
snippet \:snail: 🐌
	🐌
snippet \:snake: 🐍
	🐍
snippet \:racehorse: 🐎
	🐎
snippet \:ram: 🐏
	🐏
snippet \:goat: 🐐
	🐐
snippet \:sheep: 🐑
	🐑
snippet \:monkey: 🐒
	🐒
snippet \:rooster: 🐓
	🐓
snippet \:chicken: 🐔
	🐔
snippet \:dog2: 🐕
	🐕
snippet \:pig2: 🐖
	🐖
snippet \:boar: 🐗
	🐗
snippet \:elephant: 🐘
	🐘
snippet \:octopus: 🐙
	🐙
snippet \:shell: 🐚
	🐚
snippet \:bug: 🐛
	🐛
snippet \:ant: 🐜
	🐜
snippet \:bee: 🐝
	🐝
snippet \:beetle: 🐞
	🐞
snippet \:fish: 🐟
	🐟
snippet \:tropical_fish: 🐠
	🐠
snippet \:blowfish: 🐡
	🐡
snippet \:turtle: 🐢
	🐢
snippet \:hatching_chick: 🐣
	🐣
snippet \:baby_chick: 🐤
	🐤
snippet \:hatched_chick: 🐥
	🐥
snippet \:bird: 🐦
	🐦
snippet \:penguin: 🐧
	🐧
snippet \:koala: 🐨
	🐨
snippet \:poodle: 🐩
	🐩
snippet \:dromedary_camel: 🐪
	🐪
snippet \:camel: 🐫
	🐫
snippet \:dolphin: 🐬
	🐬
snippet \:mouse: 🐭
	🐭
snippet \:cow: 🐮
	🐮
snippet \:tiger: 🐯
	🐯
snippet \:rabbit: 🐰
	🐰
snippet \:cat: 🐱
	🐱
snippet \:dragon_face: 🐲
	🐲
snippet \:whale: 🐳
	🐳
snippet \:horse: 🐴
	🐴
snippet \:monkey_face: 🐵
	🐵
snippet \:dog: 🐶
	🐶
snippet \:pig: 🐷
	🐷
snippet \:frog: 🐸
	🐸
snippet \:hamster: 🐹
	🐹
snippet \:wolf: 🐺
	🐺
snippet \:bear: 🐻
	🐻
snippet \:panda_face: 🐼
	🐼
snippet \:pig_nose: 🐽
	🐽
snippet \:feet: 🐾
	🐾
snippet \:eyes: 👀
	👀
snippet \:ear: 👂
	👂
snippet \:nose: 👃
	👃
snippet \:lips: 👄
	👄
snippet \:tongue: 👅
	👅
snippet \:point_up_2: 👆
	👆
snippet \:point_down: 👇
	👇
snippet \:point_left: 👈
	👈
snippet \:point_right: 👉
	👉
snippet \:facepunch: 👊
	👊
snippet \:wave: 👋
	👋
snippet \:ok_hand: 👌
	👌
snippet \:+1: 👍
	👍
snippet \:-1: 👎
	👎
snippet \:clap: 👏
	👏
snippet \:open_hands: 👐
	👐
snippet \:crown: 👑
	👑
snippet \:womans_hat: 👒
	👒
snippet \:eyeglasses: 👓
	👓
snippet \:necktie: 👔
	👔
snippet \:shirt: 👕
	👕
snippet \:jeans: 👖
	👖
snippet \:dress: 👗
	👗
snippet \:kimono: 👘
	👘
snippet \:bikini: 👙
	👙
snippet \:womans_clothes: 👚
	👚
snippet \:purse: 👛
	👛
snippet \:handbag: 👜
	👜
snippet \:pouch: 👝
	👝
snippet \:mans_shoe: 👞
	👞
snippet \:athletic_shoe: 👟
	👟
snippet \:high_heel: 👠
	👠
snippet \:sandal: 👡
	👡
snippet \:boot: 👢
	👢
snippet \:footprints: 👣
	👣
snippet \:bust_in_silhouette: 👤
	👤
snippet \:busts_in_silhouette: 👥
	👥
snippet \:boy: 👦
	👦
snippet \:girl: 👧
	👧
snippet \:man: 👨
	👨
snippet \:woman: 👩
	👩
snippet \:family: 👪
	👪
snippet \:couple: 👫
	👫
snippet \:two_men_holding_hands: 👬
	👬
snippet \:two_women_holding_hands: 👭
	👭
snippet \:cop: 👮
	👮
snippet \:dancers: 👯
	👯
snippet \:bride_with_veil: 👰
	👰
snippet \:person_with_blond_hair: 👱
	👱
snippet \:man_with_gua_pi_mao: 👲
	👲
snippet \:man_with_turban: 👳
	👳
snippet \:older_man: 👴
	👴
snippet \:older_woman: 👵
	👵
snippet \:baby: 👶
	👶
snippet \:construction_worker: 👷
	👷
snippet \:princess: 👸
	👸
snippet \:japanese_ogre: 👹
	👹
snippet \:japanese_goblin: 👺
	👺
snippet \:ghost: 👻
	👻
snippet \:angel: 👼
	👼
snippet \:alien: 👽
	👽
snippet \:space_invader: 👾
	👾
snippet \:imp: 👿
	👿
snippet \:skull: 💀
	💀
snippet \:information_desk_person: 💁
	💁
snippet \:guardsman: 💂
	💂
snippet \:dancer: 💃
	💃
snippet \:lipstick: 💄
	💄
snippet \:nail_care: 💅
	💅
snippet \:massage: 💆
	💆
snippet \:haircut: 💇
	💇
snippet \:barber: 💈
	💈
snippet \:syringe: 💉
	💉
snippet \:pill: 💊
	💊
snippet \:kiss: 💋
	💋
snippet \:love_letter: 💌
	💌
snippet \:ring: 💍
	💍
snippet \:gem: 💎
	💎
snippet \:couplekiss: 💏
	💏
snippet \:bouquet: 💐
	💐
snippet \:couple_with_heart: 💑
	💑
snippet \:wedding: 💒
	💒
snippet \:heartbeat: 💓
	💓
snippet \:broken_heart: 💔
	💔
snippet \:two_hearts: 💕
	💕
snippet \:sparkling_heart: 💖
	💖
snippet \:heartpulse: 💗
	💗
snippet \:cupid: 💘
	💘
snippet \:blue_heart: 💙
	💙
snippet \:green_heart: 💚
	💚
snippet \:yellow_heart: 💛
	💛
snippet \:purple_heart: 💜
	💜
snippet \:gift_heart: 💝
	💝
snippet \:revolving_hearts: 💞
	💞
snippet \:heart_decoration: 💟
	💟
snippet \:diamond_shape_with_a_dot_inside: 💠
	💠
snippet \:bulb: 💡
	💡
snippet \:anger: 💢
	💢
snippet \:bomb: 💣
	💣
snippet \:zzz: 💤
	💤
snippet \:boom: 💥
	💥
snippet \:sweat_drops: 💦
	💦
snippet \:droplet: 💧
	💧
snippet \:dash: 💨
	💨
snippet \:hankey: 💩
	💩
snippet \:muscle: 💪
	💪
snippet \:dizzy: 💫
	💫
snippet \:speech_balloon: 💬
	💬
snippet \:thought_balloon: 💭
	💭
snippet \:white_flower: 💮
	💮
snippet \:100: 💯
	💯
snippet \:moneybag: 💰
	💰
snippet \:currency_exchange: 💱
	💱
snippet \:heavy_dollar_sign: 💲
	💲
snippet \:credit_card: 💳
	💳
snippet \:yen: 💴
	💴
snippet \:dollar: 💵
	💵
snippet \:euro: 💶
	💶
snippet \:pound: 💷
	💷
snippet \:money_with_wings: 💸
	💸
snippet \:chart: 💹
	💹
snippet \:seat: 💺
	💺
snippet \:computer: 💻
	💻
snippet \:briefcase: 💼
	💼
snippet \:minidisc: 💽
	💽
snippet \:floppy_disk: 💾
	💾
snippet \:cd: 💿
	💿
snippet \:dvd: 📀
	📀
snippet \:file_folder: 📁
	📁
snippet \:open_file_folder: 📂
	📂
snippet \:page_with_curl: 📃
	📃
snippet \:page_facing_up: 📄
	📄
snippet \:date: 📅
	📅
snippet \:calendar: 📆
	📆
snippet \:card_index: 📇
	📇
snippet \:chart_with_upwards_trend: 📈
	📈
snippet \:chart_with_downwards_trend: 📉
	📉
snippet \:bar_chart: 📊
	📊
snippet \:clipboard: 📋
	📋
snippet \:pushpin: 📌
	📌
snippet \:round_pushpin: 📍
	📍
snippet \:paperclip: 📎
	📎
snippet \:straight_ruler: 📏
	📏
snippet \:triangular_ruler: 📐
	📐
snippet \:bookmark_tabs: 📑
	📑
snippet \:ledger: 📒
	📒
snippet \:notebook: 📓
	📓
snippet \:notebook_with_decorative_cover: 📔
	📔
snippet \:closed_book: 📕
	📕
snippet \:book: 📖
	📖
snippet \:green_book: 📗
	📗
snippet \:blue_book: 📘
	📘
snippet \:orange_book: 📙
	📙
snippet \:books: 📚
	📚
snippet \:name_badge: 📛
	📛
snippet \:scroll: 📜
	📜
snippet \:memo: 📝
	📝
snippet \:telephone_receiver: 📞
	📞
snippet \:pager: 📟
	📟
snippet \:fax: 📠
	📠
snippet \:satellite: 📡
	📡
snippet \:loudspeaker: 📢
	📢
snippet \:mega: 📣
	📣
snippet \:outbox_tray: 📤
	📤
snippet \:inbox_tray: 📥
	📥
snippet \:package: 📦
	📦
snippet \:e-mail: 📧
	📧
snippet \:incoming_envelope: 📨
	📨
snippet \:envelope_with_arrow: 📩
	📩
snippet \:mailbox_closed: 📪
	📪
snippet \:mailbox: 📫
	📫
snippet \:mailbox_with_mail: 📬
	📬
snippet \:mailbox_with_no_mail: 📭
	📭
snippet \:postbox: 📮
	📮
snippet \:postal_horn: 📯
	📯
snippet \:newspaper: 📰
	📰
snippet \:iphone: 📱
	📱
snippet \:calling: 📲
	📲
snippet \:vibration_mode: 📳
	📳
snippet \:mobile_phone_off: 📴
	📴
snippet \:no_mobile_phones: 📵
	📵
snippet \:signal_strength: 📶
	📶
snippet \:camera: 📷
	📷
snippet \:video_camera: 📹
	📹
snippet \:tv: 📺
	📺
snippet \:radio: 📻
	📻
snippet \:vhs: 📼
	📼
snippet \:twisted_rightwards_arrows: 🔀
	🔀
snippet \:repeat: 🔁
	🔁
snippet \:repeat_one: 🔂
	🔂
snippet \:arrows_clockwise: 🔃
	🔃
snippet \:arrows_counterclockwise: 🔄
	🔄
snippet \:low_brightness: 🔅
	🔅
snippet \:high_brightness: 🔆
	🔆
snippet \:mute: 🔇
	🔇
snippet \:speaker: 🔈
	🔈
snippet \:sound: 🔉
	🔉
snippet \:loud_sound: 🔊
	🔊
snippet \:battery: 🔋
	🔋
snippet \:electric_plug: 🔌
	🔌
snippet \:mag: 🔍
	🔍
snippet \:mag_right: 🔎
	🔎
snippet \:lock_with_ink_pen: 🔏
	🔏
snippet \:closed_lock_with_key: 🔐
	🔐
snippet \:key: 🔑
	🔑
snippet \:lock: 🔒
	🔒
snippet \:unlock: 🔓
	🔓
snippet \:bell: 🔔
	🔔
snippet \:no_bell: 🔕
	🔕
snippet \:bookmark: 🔖
	🔖
snippet \:link: 🔗
	🔗
snippet \:radio_button: 🔘
	🔘
snippet \:back: 🔙
	🔙
snippet \:end: 🔚
	🔚
snippet \:on: 🔛
	🔛
snippet \:soon: 🔜
	🔜
snippet \:top: 🔝
	🔝
snippet \:underage: 🔞
	🔞
snippet \:keycap_ten: 🔟
	🔟
snippet \:capital_abcd: 🔠
	🔠
snippet \:abcd: 🔡
	🔡
snippet \:1234: 🔢
	🔢
snippet \:symbols: 🔣
	🔣
snippet \:abc: 🔤
	🔤
snippet \:fire: 🔥
	🔥
snippet \:flashlight: 🔦
	🔦
snippet \:wrench: 🔧
	🔧
snippet \:hammer: 🔨
	🔨
snippet \:nut_and_bolt: 🔩
	🔩
snippet \:hocho: 🔪
	🔪
snippet \:gun: 🔫
	🔫
snippet \:microscope: 🔬
	🔬
snippet \:telescope: 🔭
	🔭
snippet \:crystal_ball: 🔮
	🔮
snippet \:six_pointed_star: 🔯
	🔯
snippet \:beginner: 🔰
	🔰
snippet \:trident: 🔱
	🔱
snippet \:black_square_button: 🔲
	🔲
snippet \:white_square_button: 🔳
	🔳
snippet \:red_circle: 🔴
	🔴
snippet \:large_blue_circle: 🔵
	🔵
snippet \:large_orange_diamond: 🔶
	🔶
snippet \:large_blue_diamond: 🔷
	🔷
snippet \:small_orange_diamond: 🔸
	🔸
snippet \:small_blue_diamond: 🔹
	🔹
snippet \:small_red_triangle: 🔺
	🔺
snippet \:small_red_triangle_down: 🔻
	🔻
snippet \:arrow_up_small: 🔼
	🔼
snippet \:arrow_down_small: 🔽
	🔽
snippet \:clock1: 🕐
	🕐
snippet \:clock2: 🕑
	🕑
snippet \:clock3: 🕒
	🕒
snippet \:clock4: 🕓
	🕓
snippet \:clock5: 🕔
	🕔
snippet \:clock6: 🕕
	🕕
snippet \:clock7: 🕖
	🕖
snippet \:clock8: 🕗
	🕗
snippet \:clock9: 🕘
	🕘
snippet \:clock10: 🕙
	🕙
snippet \:clock11: 🕚
	🕚
snippet \:clock12: 🕛
	🕛
snippet \:clock130: 🕜
	🕜
snippet \:clock230: 🕝
	🕝
snippet \:clock330: 🕞
	🕞
snippet \:clock430: 🕟
	🕟
snippet \:clock530: 🕠
	🕠
snippet \:clock630: 🕡
	🕡
snippet \:clock730: 🕢
	🕢
snippet \:clock830: 🕣
	🕣
snippet \:clock930: 🕤
	🕤
snippet \:clock1030: 🕥
	🕥
snippet \:clock1130: 🕦
	🕦
snippet \:clock1230: 🕧
	🕧
snippet \:mount_fuji: 🗻
	🗻
snippet \:tokyo_tower: 🗼
	🗼
snippet \:statue_of_liberty: 🗽
	🗽
snippet \:japan: 🗾
	🗾
snippet \:moyai: 🗿
	🗿
snippet \:grinning: 😀
	😀
snippet \:grin: 😁
	😁
snippet \:joy: 😂
	😂
snippet \:smiley: 😃
	😃
snippet \:smile: 😄
	😄
snippet \:sweat_smile: 😅
	😅
snippet \:laughing: 😆
	😆
snippet \:innocent: 😇
	😇
snippet \:smiling_imp: 😈
	😈
snippet \:wink: 😉
	😉
snippet \:blush: 😊
	😊
snippet \:yum: 😋
	😋
snippet \:relieved: 😌
	😌
snippet \:heart_eyes: 😍
	😍
snippet \:sunglasses: 😎
	😎
snippet \:smirk: 😏
	😏
snippet \:neutral_face: 😐
	😐
snippet \:expressionless: 😑
	😑
snippet \:unamused: 😒
	😒
snippet \:sweat: 😓
	😓
snippet \:pensive: 😔
	😔
snippet \:confused: 😕
	😕
snippet \:confounded: 😖
	😖
snippet \:kissing: 😗
	😗
snippet \:kissing_heart: 😘
	😘
snippet \:kissing_smiling_eyes: 😙
	😙
snippet \:kissing_closed_eyes: 😚
	😚
snippet \:stuck_out_tongue: 😛
	😛
snippet \:stuck_out_tongue_winking_eye: 😜
	😜
snippet \:stuck_out_tongue_closed_eyes: 😝
	😝
snippet \:disappointed: 😞
	😞
snippet \:worried: 😟
	😟
snippet \:angry: 😠
	😠
snippet \:rage: 😡
	😡
snippet \:cry: 😢
	😢
snippet \:persevere: 😣
	😣
snippet \:triumph: 😤
	😤
snippet \:disappointed_relieved: 😥
	😥
snippet \:frowning: 😦
	😦
snippet \:anguished: 😧
	😧
snippet \:fearful: 😨
	😨
snippet \:weary: 😩
	😩
snippet \:sleepy: 😪
	😪
snippet \:tired_face: 😫
	😫
snippet \:grimacing: 😬
	😬
snippet \:sob: 😭
	😭
snippet \:open_mouth: 😮
	😮
snippet \:hushed: 😯
	😯
snippet \:cold_sweat: 😰
	😰
snippet \:scream: 😱
	😱
snippet \:astonished: 😲
	😲
snippet \:exploding_head: 🤯
	🤯
snippet \:surprised: 😲
	😲
snippet \:flushed: 😳
	😳
snippet \:sleeping: 😴
	😴
snippet \:dizzy_face: 😵
	😵
snippet \:no_mouth: 😶
	😶
snippet \:mask: 😷
	😷
snippet \:thinking: 🤔
🤔
snippet \:smile_cat: 😸
	😸
snippet \:joy_cat: 😹
	😹
snippet \:smiley_cat: 😺
	😺
snippet \:heart_eyes_cat: 😻
	😻
snippet \:smirk_cat: 😼
	😼
snippet \:kissing_cat: 😽
	😽
snippet \:pouting_cat: 😾
	😾
snippet \:crying_cat_face: 😿
	😿
snippet \:scream_cat: 🙀
	🙀
snippet \:no_good: 🙅
	🙅
snippet \:ok_woman: 🙆
	🙆
snippet \:bow: 🙇
	🙇
snippet \:see_no_evil: 🙈
	🙈
snippet \:hear_no_evil: 🙉
	🙉
snippet \:speak_no_evil: 🙊
	🙊
snippet \:raising_hand: 🙋
	🙋
snippet \:raised_hands: 🙌
	🙌
snippet \:person_frowning: 🙍
	🙍
snippet \:person_with_pouting_face: 🙎
	🙎
snippet \:pray: 🙏
	🙏
snippet \:rocket: 🚀
	🚀
snippet \:helicopter: 🚁
	🚁
snippet \:steam_locomotive: 🚂
	🚂
snippet \:railway_car: 🚃
	🚃
snippet \:bullettrain_side: 🚄
	🚄
snippet \:bullettrain_front: 🚅
	🚅
snippet \:train2: 🚆
	🚆
snippet \:metro: 🚇
	🚇
snippet \:light_rail: 🚈
	🚈
snippet \:station: 🚉
	🚉
snippet \:tram: 🚊
	🚊
snippet \:train: 🚋
	🚋
snippet \:bus: 🚌
	🚌
snippet \:oncoming_bus: 🚍
	🚍
snippet \:trolleybus: 🚎
	🚎
snippet \:busstop: 🚏
	🚏
snippet \:minibus: 🚐
	🚐
snippet \:ambulance: 🚑
	🚑
snippet \:fire_engine: 🚒
	🚒
snippet \:police_car: 🚓
	🚓
snippet \:oncoming_police_car: 🚔
	🚔
snippet \:taxi: 🚕
	🚕
snippet \:oncoming_taxi: 🚖
	🚖
snippet \:car: 🚗
	🚗
snippet \:oncoming_automobile: 🚘
	🚘
snippet \:blue_car: 🚙
	🚙
snippet \:truck: 🚚
	🚚
snippet \:articulated_lorry: 🚛
	🚛
snippet \:tractor: 🚜
	🚜
snippet \:monorail: 🚝
	🚝
snippet \:mountain_railway: 🚞
	🚞
snippet \:suspension_railway: 🚟
	🚟
snippet \:mountain_cableway: 🚠
	🚠
snippet \:aerial_tramway: 🚡
	🚡
snippet \:ship: 🚢
	🚢
snippet \:rowboat: 🚣
	🚣
snippet \:speedboat: 🚤
	🚤
snippet \:traffic_light: 🚥
	🚥
snippet \:vertical_traffic_light: 🚦
	🚦
snippet \:construction: 🚧
	🚧
snippet \:rotating_light: 🚨
	🚨
snippet \:triangular_flag_on_post: 🚩
	🚩
snippet \:door: 🚪
	🚪
snippet \:no_entry_sign: 🚫
	🚫
snippet \:smoking: 🚬
	🚬
snippet \:no_smoking: 🚭
	🚭
snippet \:put_litter_in_its_place: 🚮
	🚮
snippet \:do_not_litter: 🚯
	🚯
snippet \:potable_water: 🚰
	🚰
snippet \:non-potable_water: 🚱
	🚱
snippet \:bike: 🚲
	🚲
snippet \:no_bicycles: 🚳
	🚳
snippet \:bicyclist: 🚴
	🚴
snippet \:mountain_bicyclist: 🚵
	🚵
snippet \:walking: 🚶
	🚶
snippet \:no_pedestrians: 🚷
	🚷
snippet \:children_crossing: 🚸
	🚸
snippet \:bunny: 🐰
	🐰
snippet \:mens: 🚹
	🚹
snippet \:womens: 🚺
	🚺
snippet \:restroom: 🚻
	🚻
snippet \:baby_symbol: 🚼
	🚼
snippet \:toilet: 🚽
	🚽
snippet \:wc: 🚾
	🚾
snippet \:shower: 🚿
	🚿
snippet \:bath: 🛀
	🛀
snippet \:bathtub: 🛁
	🛁
snippet \:passport_control: 🛂
	🛂
snippet \:customs: 🛃
	🛃
snippet \:baggage_claim: 🛄
	🛄
snippet \:left_luggage: 🛅
	🛅
snippet \:thumbs_up: 👍
	👍
snippet \:thumbs_down: 👎
	👎

